<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/emma.css">

<link rel="stylesheet" href="/stylesheets/navBar.css">

 <!--FONTAWESOME-->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
 integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"crossorigin="anonymous"/>


<!--services section-->
  <section id="services" class="py-5">
    <div class="container">
      <!--	title row-->
      <div class="row">
        <div class="col d-flex title mb-5">
          <i class="fa fa-gears mr-3"></i>
          <div class="title-text">
            <h1 class="text-uppercase">Our Services</h1>
            <h4 class="text-capitalized text-muted">Unity is Strength</h4>
            
          </div>
        </div>
      </div>
      <!--		end of title row-->
      <!--			services row-->
      <div class="row ">
        <div class="col-lg-3 col-md-6 col-10 mx-auto text-center my-5">
          <i class="fa fa-dollar-sign service-icon service-icon-1"></i>
          <h3 class="my-4">Sika Dwa</h3>
          <p class="text-muted">Send momey home or exchange money internally with 100% assured with trusted and verified members</p>

          <button class='btn btn-primary'>Read more</button>
        </div>
        <div class="col-lg-3 col-md-6 col-10 mx-auto text-center my-5">
          <i class="fa fa-people-carry service-icon service-icon-2"></i>
          <h3 class="my-4">Support</h3>
          <p class="text-muted">Unity is strength. We provide and support everyone in case of trouble</p>
           <button class='btn btn-primary'>Read more</button>
        </div>
        <div class="col-lg-3 col-md-6 col-10 mx-auto text-center my-5">
          <i class="fa fa-book-reader service-icon service-icon-3"></i>
          <h3 class="my-4">Teaching Tips</h3>
          <p class="text-muted">We provide most important resources to ESL teachers to make your teaching so easy</p>
          
           <button class='btn btn-primary'>Read more</button>
        </div>
        <div class="col-lg-3 col-md-6 col-10 mx-auto text-center my-5">
          <i class="fa fa-city service-icon service-icon-4"></i>
          <h3 class="my-4">Start up</h3>
          <p class="text-muted">Learn how to use your money wisely and learn how to start your own business</p>

           <button class='btn btn-primary'>Read more</button>
        </div>

      </div>

      <!--	end of services row-->
    </div>
  </section>
  <!--end of services section-->



  
        <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>NewBiz</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NewBiz</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->




