<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/stylesheets/navBar.css">
<link rel="stylesheet" href="/stylesheets/login.css">
<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="/stylesheets/team.css">
<link rel="stylesheet" href="/stylesheets/sikadwa.css">
 


  <%#Font-Awesome %>

      <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />


        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <title>CTI-Ghana</title>
  </head>
  
    <body>

  <%if(!currentUser) {%>
    <nav class="navbar navbar-expand-lg navbar-background px-4">
  
      <a href="/" class="navbar-brand">
        <%# <img src="img/logo.svg" alt="main icon"> %>
        CTI
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
        <span class="toggler-icon">
          <i class="fas fa-bars"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav text-capitalize mx-auto">
          <li class="nav-item active">
            <a href="/" class="nav-link">home</a>
          </li>

        
          <li class="nav-item active">
            <a href="/about" class="nav-link">About</a>
          </li>

      
          <li class="nav-item active">
            <a href="/register" class="nav-link">Register</a>
          </li>

          <li class="nav-item active">
              <a href="/team" class="nav-link">Executives</a>
            </li>

           <li class="nav-item active">
            <a href="/login" class="nav-link">Login</a>
          </li>

        </ul>
        <div class="nav-info-items d-none d-lg-flex">
          <!-- single info -->
          <div class="nav-info align-items-center d-flex justify-content-between mx-lg-5">
            <span class="info-icon mx-lg-3">
              <i  class="fas fa-phone text-white"></i>
            </span>
            <p class="mb-0 text-white">Hotline: +8613051803767 </p>
          </div>
          <!-- single info -->
        
        </div>
      </div>
    </nav>

  <%}else{%>

        <nav class="navbar navbar-expand-lg navbar-background px-4">
  
      <!-- <a href="/" class="navbar-brand">

        CTI
      </a> -->
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
        <span class="toggler-icon">
          <i class="fas fa-bars"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav text-capitalize mx-auto">
          <li class="nav-item active">
            <a href="/" class="nav-link">home</a>
          </li>

          <li class="nav-item active">
              <a href="/about" class="nav-link">About</a>
            </li>

 <li class="nav-item active">
            <a href="/users" class="nav-link">Users</a>
          </li>
          <li class="nav-item active">
            <a href="/posts" class="nav-link">Posts</a>
          </li>

           <li class="nav-item active">
            <a href="/profile/<%=currentUser.id%>" class="nav-link">Profile</a>
          </li>
          <li class="nav-item active">
            <a href="/posts/new" class="nav-link">Create Post</a>
          </li>
          <li class="nav-item active">
            <a href="/sikadwa" class="nav-link">Sikadwa</a>
          </li>

           <li class="nav-item active">
            <a href="/support" class="nav-link">Help me</a>
          </li>

          <li class="nav-item active">
              <a href="/team" class="nav-link">Executives</a>
            </li>
            

           <li class="nav-item active">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
        </ul>
        <div class="nav-info-items d-none d-lg-flex">
          <!-- single info -->
          <div class="nav-info align-items-center d-flex justify-content-between mx-lg-5">
            <!-- <span class="info-icon mx-lg-3">
              <i  class="fas fa-phone text-white"></i>
            </span> -->
            <!-- <p class="mb-0 text-white"> + 8613051803767 </p> -->
          </div>
          <!-- single info -->
          <div id="cart-info" class="nav-info align-items-center cart-info d-flex justify-content-between mx-lg-5">
            <span class="cart-info__icon mr-lg-3">
              <i class="fas fa-user"></i>
            </span>
            <p class="mb-0 text-capitalize">
              <span id="item-count">You</span>
              have loggin as 
              <span class="item-total">
                <%=currentUser.username%>
              </span>
            </p>
          </div>
        </div>
      </div>
    </nav>

  <%}%>

  
   
         <!-- Error Displaying using Flash -->  

        <div class="container">
          <div class='row'>
           <div class='col m-3 text-center'>
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
            </div>
        </div>
    </div>
    