

<% include ../partials/header %>
<div class="container">

     <div class="row">
         <div class="col">

       
        <h1 style="text-align: center">Create a New Post</h1>
     
            <form action="/posts" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="post[postTitle]" placeholder="Post title" required>
                </div>

                

                <div class="form-group">
                    <input class="form-control" type="text" name="post[videoLink]" placeholder="Video Url">
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" name="post[documentTitle]" placeholder="Document Title" required>
                </div>

                <div class="form-group">
                    <label for="image">Upload Image/Pdf file</label>
                    <input type="file" id="image" name="image" accept="image/pdf/*" required >
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="post[description]" placeholder="description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>

    </div>
    </div>
</div>


<% include ../partials/footer %>








