<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/emma.css">

<link rel="stylesheet" href="/stylesheets/navBar.css">

 <!--FONTAWESOME-->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
 integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"crossorigin="anonymous"/>


<!--services section-->
  <section id="services" class="py-5">
    <div class="container">
      <!--	title row-->
      <div class="row">
        <div class="col d-flex title mb-5">
          <i class="fa fa-gears mr-3"></i>
          <div class="title-text">
            <h1 class="text-uppercase">Our Services</h1>
            <h4 class="text-capitalized text-muted">Unity is Strength</h4>
          </div>
        </div>
      </div>
      <!--		end of title row-->
      <!--			services row-->
      <div class="row ">
        <div class="col-lg-3 col-md-6 col-10 mx-auto text-center my-5">
          <i class="fa fa-dollar-sign service-icon service-icon-1"></i>
          <h3 class="my-4">Sika Dwa</h3>
          <p class="text-muted">Send momey home or exchange money internally with 100% assured with trusted and verified members</p>
        </div>
        <div class="col-lg-3 col-md-6 col-10 mx-auto text-center my-5">
          <i class="fa fa-people-carry service-icon service-icon-2"></i>
          <h3 class="my-4">Support</h3>
          <p class="text-muted">Unity is strength. We provide and support everyone in case of trouble</p>
        </div>
        <div class="col-lg-3 col-md-6 col-10 mx-auto text-center my-5">
          <i class="fa fa-book-reader service-icon service-icon-3"></i>
          <h3 class="my-4">Teaching Tips</h3>
          <p class="text-muted">We provide most important resources to ESL teachers to make your teaching so easy</p>
        </div>
        <div class="col-lg-3 col-md-6 col-10 mx-auto text-center my-5">
          <i class="fa fa-city service-icon service-icon-4"></i>
          <h3 class="my-4">Start up</h3>
          <p class="text-muted">Learn how to use your money wisely and learn how to start your own business</p>
        </div>

      </div>

      <!--	end of services row-->
    </div>
  </section>
  <!--end of services section-->



  
      



<% include partials/footer %>
